<div class="ui container" id="login-container">

  <h4 class="ui center aligned medium icon header" >
    <i class="circular fc-orange sign-in icon"></i>
    Log in or sign up to Message Me!
  </h4>

  <div class="ui placeholder segment" id="login-box">
    <div class="ui two column very relaxed stackable grid">
      <div class="column">
        <div class="ui form">
          <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
              <input type="text" placeholder="Username">
              <i class="user icon"></i>
            </div>
          </div>
          <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
              <input type="password">
              <i class="lock icon"></i>
            </div>
          </div>
          <div class="ui bgc-orange submit button">Login</div>
        </div>
      </div>
      <div class="middle aligned column">
        <div class="ui big button bgc-orange">
          <i class="signup icon"></i>
          Sign Up
        </div>
      </div>
    </div>
    <div class="ui vertical divider" id="login-divider">
      Or
    </div>
  </div>
</div>
