<div class="ui container" id="chatroom-container">
  <h4 class="ui center aligned medium icon header" id="homepage-header">
    <i class="circular fc-orange coffee icon"></i>
    Say Hi
  </h4>


  <div class="ui centered stackable grid" id="chatbox-container">

    <div class="twelve wide column">
      <div class="ui fluid raised card" id="chatbox">
        <div class="content">

          <div class="ui small feed">
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Elliot Fu</em>: The first of many test messages
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Stevie Feliciano</em>: Test message
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Helen Troy</em>: Another test message to look at
                </div>
              </div>
            </div>
            <div class="event">
              <div class="content">
                <div class="summary">
                  <em>Christian Rocha</em>: A third test message to display
                </div>
              </div>
            </div>
          </div>
          <div class="ui dropdown item" id="users-dropdown">
            <i class="user icon"></i><i class="dropdown icon"></i>
            <%= render  "users_menu" %>
          </div>
        </div>

        <div class="extra content">
          <form class="ui reply form">
            <div class="field">
              <div class="ui fluid icon input">
                <input type="text" placeholder="Enter message...">
                <i class="bordered inverted orange icon large paper plane"></i>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>

    <div class="four wide column">
      <%= render  "users_menu" %>
    </div>

  </div>
</div>
