@import "semantic-ui";


// Theme
$color-orange: #fd622a;

.bgc-orange {
  background-color: $color-orange !important;
}

.fc-orange {
  color: $color-orange !important;
}

// Navigation
#nav-bar-container {
  margin: auto;
  width: 80%;
}

#nav-bar-signin-button {
  width: 100px;
}

@media (max-width: 541px) {
  #nav-bar-container {
    width: 432px;
  }
}

// Error Messages
#error-container {
  margin: 8px 0;
}

// Footer
#footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  h4 {
    border-radius: 4px;
    padding-bottom: 4px;
    text-align: center;
    a {
      color: $color-orange;
    }
  }
}

// Homepage (Chatroom)
#chatroom-container {
  margin-top: 16px;
  margin-bottom: 8px;
}


#messages {
  height: 60vh;
  overflow: auto;
}

#message-submit-button {
  border: 2;
  border-color: $color-orange;
  border-radius: 4px;
  padding: 0;
  i {
    margin: 0;
  }
  display: none;
}

#users-dropdown {
  position: absolute;
  right: 12px;
  top: 8px;
  display: none;
  color: $color-orange;

  .menu {
    width: 150px;
  }
}

#userbox {
  width: auto;
}

.ui.vertical.menu .item:before {
  width: 0 !important;
}

@media (max-height: 705px) {
  #homepage-header {
    display: none;
  }

  #messages {
    height: 75vh;
  }
}

@media (max-height: 624px) {
  #messages {
    height: 70vh;
  }
}

@media (max-width: 767px) {
  #userbox {
    display: none;
  }

  #users-dropdown {
    display: block;
  }
}

// Login

#login-container {
  margin-top: 16px;
}

#login-box {
  margin-top: 16px;
}

#login-button {
  width: 210px;
}

@media (max-width: 767px) {
  #login-divider {
    display: none;
  }
}
