<div class="ui inverted small menu" id="nav-bar-container">
  <%= link_to root_path, class: "item" do %>
    <i class="coffee icon fc-orange"></i>Chatroom
  <% end %>
  <a class="item">
    <i class="envelope outline icon fc-orange"></i>Messages
  </a>
  <div class="right menu">
    <div class="ui dropdown item">
      Account <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item">Login</a>
        <a class="item">Logout</a>
      </div>
    </div>
    <div class="item">
      <%= link_to  "Sign In/Up", login_path, class: "ui primary button bgc-orange", id:"nav-bar-signin-button" %>
    </div>
  </div>
</div>
